<div class="container">

    <div class="row">

        <!-- metas do dia -->
        <div class="col-6">

            <div class="row">
                <div class="col-10 offset-1">

                    <div id="metasDoDia">

                        <h5 id="tituloMetasDoDia">Metas do dia</h5>

                        <div class="input-group input-group-sm mb-3">
                            <input type="text" id="inputMetasDoDia" class="form-control"
                                placeholder="Digite uma meta..." maxlength="25">
                            <div class="input-group-prepend">
                                <button mat-raised-button color="warn" id="btnAddElementoLista"
                                    (click)="addElementoListaMeta()" class="btn btn-outline-secondary"
                                    type="button">Adicionar</button>
                            </div>
                        </div>

                        <ul id="listaMetasDoDia" class="list-group">
                        </ul>

                    </div>


                </div>
            </div>



        </div>

        <!-- pomodoro -->
        <div class="col-6">

            <mat-card class="cardPomodoro">
                <div class="pomodoro-container">


                    <div class="container">
                        <div class="gauge-container">
                            <svg id="circuloPomodoro" class="gauge" viewBox="0 0 100 100 ">
                                <circle class="rail" cx="50" cy="50" r="35" fill="transparent"></circle>
                                <circle class="progress" r="35" cx="50" cy="50" fill="transparent"></circle>
                                
                            </svg>
                            <div id="pomodoro-timer" class="pomodoro-timer">25:00</div>

                        </div>
                    </div>

                    <div class="pomodoro-clock">
                        <!-- o timer é feito de CSS -->
                       

                        <div>
                            <input type="text" id="pomodoro-clock-task" placeholder="Enter your task..." />
                        </div>

                        <div class="pomodoro-clock-actions">
                            <button id="pomodoro-start" class="btn-primary">Iniciar</button>
                            <button id="pomodoro-pause" class="btn-primary" hidden>Pausar</button>
                            <button id="pomodoro-stop" class="btn-primary" hidden>Parar</button>
                        </div>

                    </div>
                    <!-- new -->
                    <div id="pomodoro-clock-actions">
                        <fa-icon [icon]="faCog" id="showConfig" class="fas fa-cog"></fa-icon>
                        <div class="pomodoro-input">
                            <label>Work Duration</label>
                            <input name="input-work-duration" id="input-work-duration" type="number" />
                        </div>
                        <div class="pomodoro-input">
                            <label>Break Duration</label>
                            <input name="input-break-duration" id="input-break-duration" type="number" />
                        </div>
                    </div>

                    <div id="pomodoro-info">
                        <h6>Your Sessions </h6>
                        <ul id="pomodoro-sessions">
                        </ul>
                    </div>

                </div>
            </mat-card>

        </div>
    </div>

    <!-- ações / botões -->
    <div class="row">
    </div>

</div>