<div class="container">

    <div class="row">

        <!-- metas do dia -->
        <div class="col-6">

            <div class="row">
                <div class="col-10 offset-1">

                    <div id="metasDoDia">

                        <h5 id="tituloMetasDoDia">Metas do dia</h5>

                        <div class="input-group input-group-sm mb-3">
                            <input type="text" id="inputMetasDoDia" class="form-control"
                                placeholder="Digite uma meta..." maxlength="25">
                            <div class="input-group-prepend">
                                <button id="btnAddElementoLista" (click)="addElementoListaMeta()"
                                    class="btn btn-outline-secondary" type="button">Adicionar</button>
                            </div>
                        </div>

                        <ul id="listaMetasDoDia" class="list-group">
                        </ul>

                    </div>


                </div>
            </div>



        </div>

        <!-- pomodoro -->
        <div class="col-6">

            <div class="pomodoro-container">
                <div class="pomodoro-clock">
                    <!-- o timer é feito de CSS -->
                    <div id="pomodoro-timer" class="pomodoro-timer">25:00</div>

                    <div>
                        <input type="text" id="pomodoro-clock-task" placeholder="Enter your task..." />
                    </div>

                    <div class="pomodoro-clock-actions">
                        <button id="pomodoro-start" class="btn-primary">Iniciar</button>
                        <button id="pomodoro-pause" class="btn-primary" hidden>Pausar</button>
                        <button id="pomodoro-stop" class="btn-primary" hidden>Parar</button>
                    </div>

                </div>
                <!-- new -->
                <div id="pomodoro-clock-title">
                    <span>
                        -------------
                    </span>
                </div>
                <div id="pomodoro-clock-actions">
                    <button  id="showConfig" >config</button>
                    <div class="pomodoro-input">
                        <label>Work Duration</label>
                        <input name="input-work-duration" id="input-work-duration" type="number" />
                    </div>
                    <div class="pomodoro-input">
                        <label>Break Duration</label>
                        <input name="input-break-duration" id="input-break-duration" type="number" />
                    </div>
                </div>

                <div id="pomodoro-info">
                    <h6>Your Sessions </h6>
                    <ul id="pomodoro-sessions">
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <!-- ações / botões -->
    <div class="row">
    </div>

</div>