<div class="container">

    <div class="row">

        <!-- metas do dia -->
        <div class="col-6">

            <div class="row">
                <div class="col-10 offset-1">

                    <div id="metasDoDia">

                        <h5 id="tituloMetasDoDia">Metas do dia</h5>

                        <div class="input-group input-group-sm mb-3">
                            <input type="text" id="inputMetasDoDia" class="form-control"
                                placeholder="Digite uma meta..." maxlength="25">
                            <div class="input-group-prepend">
                                <button id="btnAddElementoLista" (click)="addElementoListaMeta()"
                                    class="btn btn-outline-secondary" type="button">Adicionar</button>
                            </div>
                        </div>

                        <ul id="listaMetasDoDia" class="list-group">
                        </ul>

                    </div>


                </div>
            </div>



        </div>

        <!-- pomodoro -->
        <div class="col-6">
            teste
        </div>
    </div>

    <!-- ações / botões -->
    <div class="row">
    </div>

</div>