.overflow-auto::-webkit-scrollbar {
    width: 12px;
}

.overflow-auto::-webkit-scrollbar-track {
    box-shadow: black;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    box-shadow: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#listaMetasDoDia{
    height: 20vw;
}

#input-work-duration, #input-break-duration{
    position: relative;
    z-index: 3;
}

#matInputBreak{
    margin-right: 0.5vw;
}

#pomodoro-clock-actions{
    display: block;
    margin: auto;
    position: absolute;
    top: 0.6vw;
    left: 3vw;
    height: 5vw;
}

#pomodoro-info{
    clear: both;
}

.inputParaPomodoro{
    float:left;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

#matInputBreak{
    width: 12vw;
}

#matInputWork{
    margin-right: 1vw;
    height: 2vw;
    width: 12vw;
}

#circuloPomodoroSombra{    
    position: absolute;
    top: 4vw;
    left: 0vw;
}

#circuloPomodoro {
    z-index: 1;
    position: absolute;
    top: 4vw;
    left: 0vw;
    transform: rotate(-90deg);
    stroke-dasharray: 251; /* (2PI * 40px) */
    stroke-dashoffset: 251;
  }
  
  @keyframes offsettozero {
    to {
      stroke-dashoffset: 0;
    }
  }
  
#pomodoro-timer{
    position: absolute;
    top: 13vw;
    left: 11vw;
}

circle{
    stroke-width: 6px;
}

.rail{
    stroke: lightgrey   ;
}

.progress{
    stroke: red   ;
}

.cardPomodoro{
    margin-top: 10%;
}

#showConfig{
    text-align: center;
    float: right;
    cursor: pointer;
    font-size: 2.5vw;

}

#pomodoro-start , #pomodoro-pause, #pomodoro-stop{
    cursor: pointer;
    font-size: 3vw;

}

.pomodoro-clock-actions{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#pomodoro-clock-task{
    position: relative;
    z-index: 2;
    width: 15vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#pomodoro-timer{
    text-align: center;
    font-size: 4vw;
}


#metasDoDia {
    padding-top: 10%;
}

#tituloMetasDoDia {
    padding: 2px 2px;
    text-align: center;
}
  
:host ::ng-deep #metasDoDia ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  

  /* Set all odd list items to a different color (zebra-stripes) */
:host ::ng-deep #metasDoDia ul li:nth-child(odd) {
    background: #f9f9f9;
}
  
  /* Darker background-color on hover */
:host ::ng-deep #metasDoDia ul li:hover {
    background: #ddd;
}
  
/* When clicked on, add a background color and strike out text */
:host ::ng-deep #metasDoDia ul li.checked {
    background: #72E873;
    color: #fff;
    text-decoration: line-through;
}
  
  /* Add a "checked" mark when clicked on */
:host ::ng-deep #metasDoDia ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 2px;
    left: 12px;
    bottom: 2px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

:host ::ng-deep #pomodoro-sessions {
    padding: 0;
}

:host ::ng-deep #pomodoro-sessions li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    position: relative;
    padding: 4px 8px 4px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 16px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host ::ng-deep #pomodoro-sessions li:nth-child(odd) {
    background: #f9f9f9;
}