/* Para remover os espaços entre colunas do bootstrap*/
.padding-0{
    padding-right:0;
    padding-left:0;
}

.auth-container{
    background-color: green;
}

.auth-button{
    margin-right: 2em;    
}

