<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-navbar">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="../about" routerLinkActive="active">Sobre</a>
        <a class="nav-item nav-link" routerLink="../prices" routerLinkActive="active">Preços</a>
        <a class="nav-item nav-link" routerLink="../contact" routerLinkActive="active">Contato</a>
      </div>
      <a class="navbar-text nav-item nav-link float-right" routerLink="../signup" routerLinkActive="active">Uou-se</a>
    </div>
</nav>

