<mat-sidenav-container>
  <mat-sidenav opened #sidenav [(opened)]="sidenavOpened" (click)="sidenav.toggle()">
    <button class="btn btn-sm flashcard-main-button" (click)="create()">Criar grupo de flashcards</button>
    <button class="btn btn-sm flashcard-main-button" (click)="load()">Abrir grupo de flashcards</button>
  </mat-sidenav>
  <mat-sidenav-content>
      <fa-icon [icon]="faBars" style="font-size: 20px;color: white" (click)="sidenav.toggle()"></fa-icon>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="dinamic-div">
  <div class="container margin-container text-center">
    <div *ngIf="eventClicked == 'create'">
      <app-flashcard-group-form></app-flashcard-group-form>
    </div>
    <div *ngIf="eventClicked == 'load' && !wasLoaded">
      <app-flashcard-group-list></app-flashcard-group-list>
    </div>
  </div>
</div>
