.flashcard-main-button{
  margin-left: 4em;
  /* height: 2em; */
  /* padding: 5%; */
  background-color: #72E873;
}


.flashcard-main-button:hover{
  background-color: #3f3f3f;
}

.margin-container{
  margin-top: 3%;
}

/* .static-div{
} */

.mat-sidenav-container{
  height: 100%;
}

.mat-sidenav, .mat-sidenav-content{
  padding: 20px;
}

.mat-sidenav-content{
  background-color: #1852a8;
}

.mat-sidenav{
  width: 90%;
  background: transparent;

}
