<div class="container static-div">
  <div class="nav text-center row">
    <div class="nav-item col">
      <a class="nav-link flashcard-main-button" (click)="create()">Criar grupo de flashcards</a>
    </div>
    <div class="nav-item col">
      <a class="nav-link flashcard-main-button" (click)="load()">Abrir grupo de flashcards</a>
    </div>
    <!-- <div class="nav-item col">
      <a class="nav-link flashcard-main-button" (click)="loaded()">Abrir</a>
    </div> -->
  </div>
</div>
<div class="dinamic-div">
  <div class="container margin-container text-center">
    <div *ngIf="eventClicked == 'create'">
      <app-flashcard-group-form></app-flashcard-group-form>
    </div>
    <div *ngIf="eventClicked == 'load' && !wasLoaded">
      <app-flashcard-group-list></app-flashcard-group-list>
    </div>
  </div>
  <!-- <app-flashcard-container class="text-center" [loaded]="wasLoaded"></app-flashcard-container> -->
</div>
