<mat-card class="flashcard-color">
  <!-- <div class="mat-display-2">Nenhum flashcard carregado ainda</div> -->
  <mat-card-header class="text-center mat-display-1">
    Flashcard {{flashcardIndex+1}}
  </mat-card-header>
  <mat-card-content>
    <div>
      {{flashcardList[flashcardIndex].question}}
    </div>
  </mat-card-content>
  <mat-card-content>
    <div [@answerBackgroundColor]="showAnswer">
      Resposta: {{flashcardList[flashcardIndex].answer}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="previous-button icons" color="accent" (click)="goToPrevious()" *ngIf="hasPrevious()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
    <button mat-raised-button class="reveal-button" *ngIf="!showAnswer" (click)="revealAnswer()">Revelar resposta</button>
    <button mat-icon-button (click)="rightOrWrong()" [@answerButtonColor]="rightAnswer" *ngIf="showAnswer" class="icons">
      <fa-icon [icon]="faCheckCircle" style="font-size:25px"></fa-icon>
    </button>
    <button mat-icon-button class="next-button icons" color="accent" (click)="goToNext()" *ngIf="hasNext()">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </mat-card-actions>
</mat-card>
<div class="container">
  <div class="row align-items-center">
    <div class="col-md"></div>
    <button mat-flat-button color="warn" data-toggle="modal" data-target="#scoreModal">Mostrar pontuação</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="scoreModalLabel">Pontuação até o momento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Acertou {{totalScore}}/{{flashcardList.length }}!
        </div>
      </div>
    </div>
  </div>
