<div *ngIf="!this.testRunning && groupListLoaded">
  <div class="list-group" *ngFor="let group of flashcardGroupList">
    <a class="list-group-item list-group-item-action" (click)="showMe(group._id)" [ngClass]="{'active': this.getActiveFlashcardGroup() == group._id}">
      {{group.groupname}}
        <div class="btn btn-sm add-button" (click)="removeMe(group._id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
        </div>
        <div class="btn btn-sm add-button" data-toggle="modal" data-target="#addFlashcardModal">
          +
        </div>
    </a>
  </div>
  <div class="flashcard-list" id="flashcard-list" *ngIf="!this.isEmpty()">
    <app-flashcard-list [flashcardList]="this.getActiveFlashcardList()" (sliceMe)="sliceLocalFlashcardList($event)" *ngIf="flashcardListLoaded"></app-flashcard-list>
  </div>
  <div *ngIf="!this.isEmpty()">
    <button mat-raised-button color="primary" class="test-button" (click)="run()">Começar teste</button>
  </div>
  <div *ngIf="this.isEmpty()">
    <h5 class="display-4">Não há grupos disponíveis</h5>
  </div>

</div>

<div *ngIf="this.testRunning && groupListLoaded">
  <app-flashcard-container [flashcardList]="this.getActiveFlashcardList()"></app-flashcard-container>
</div>

<!-- Flashcard-add Modal -->
<div class="modal fade" id="addFlashcardModal" tabindex="-1" role="dialog" aria-labelledby="addFlashcardLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFlashcardLabel">Criar novo flashcard</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <app-flashcard-form (pushMe)="refreshFlashcardList($event)"></app-flashcard-form>
    </div>
  </div>
</div>

