.add-button{
  float: right !important;
  color: white;
}

.add-button:hover{
  color: black;
  background-color: white;
}

#flashcard-list{
  max-height: 220px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.test-button{
  margin-bottom: 0.5em;
}

