<!-- <h1 class="mat-display-3 text-center">Notícias do dia</h1> -->
<div class="searchbar-container" *ngIf="wasLoaded">
  <mat-form-field class="full-width" appearance="outline">
      <mat-label>Digite uma tag</mat-label>
      <input type="text" matInput [(ngModel)]="query" (keyup.enter)="validateQuery()">
      <button mat-icon-button matSuffix color="primary" [disabled]="query.length===0">
        <fa-icon [icon]="faSearch" style="font-size: 22px" ></fa-icon>
      </button>
  </mat-form-field>
</div>
<div class="news-list-container container" *ngIf="wasLoaded">
    <div data-spy="scroll" class="list-group news-list align-items-center" *ngFor="let article of this.articles">
      <mat-card class="list-group-item list-group-item-action article-item">
        <a [href]=article.url target="_blank" class="article-link">
          <mat-card-header class="text-center mat-display-1">
            {{article.title}}
          </mat-card-header>
          <mat-card-content>
            {{article.description}}
          </mat-card-content>
        </a>
      </mat-card>
    </div>
</div>
<div *ngIf="wasLoaded">
  <p>Powered by Google News API ®</p> <!-- Tem que fazer o merchan deles pra não sobrar pro pobre desenvolvedor aqui ;) -->
</div>

<app-error-icon  [errorState]="errorOnLoad"></app-error-icon>

<app-loading-icon [loadingState]="wasLoaded" [errorState]="errorOnLoad"></app-loading-icon>
