<!-- <div class="container">
  <div class="row">
      <div class="col-12 login-content-div">
        <form class="login-form">
          <div class="form-group text-center">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
          </div>
          <div class="form-group text-center">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
          </div>
          <div class="form-group text-center">
              <button type="submit" class="btn col-sm-4 btn-lg auth-button" routerLink="/home">Entrar</button>
              <button class="btn auth-button-outline" routerLink="/signup">Criar nova conta</button>
          </div>
        </form>
      </div>
  </div>
</div> -->

<div class="mat-display-3 text-center login-text">Fazer login</div>

<div class="example-container">
  <mat-form-field appearance="outline" floatLabel="auto" class="col-md-8">
    <mat-label>E-mail</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-8">
    <mat-label>Senha</mat-label>
    <input matInput type="password">
  </mat-form-field>

  <button mat-raised-button color="primary" class="col-sm-4" routerLink="/home">Entrar</button>

  <a routerLink="/signup" class="mat-small signup-link text-center">Não possui conta? Criar conta</a>
</div>


<!-- pre-built: "./node_modules/@angular/material/prebuilt-themes/purple-green.css" -->
