/* .login-form{
  margin-top: 23%;
  border-width: 10px;
}

.login-content-div{
  background-color: #72E873;
  width: 40%;
  height: 50%;
  left: 30%;
  top: 25%;
  position: absolute;
  border-radius: 3%;
}


.auth-button:hover{
  background-color: #333;
  color: white;
}
.auth-button{
  background-color: white;
  color: black;
}

.auth-button-outline{
  border-color: black;
  color: black;
}
.auth-button-outline:hover{
  background-color: #333;
  color: white;
}

.input-color{
  margin-top: 4%;
} */


.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container > * {
  width: 80%;
}

.signup-link{
  margin-top: 1rem;
  text-decoration: none !important;
  cursor: pointer;
}

.login-text{
  color: #5db95e;
  margin-top: 1.5em;
}



