<div class="form-group">
  <label for="flashcardQuestion">Pergunta</label>
  <input type="text" class="form-control" [(ngModel)]="question" #ctrl="ngModel" id="flashcardQuestionId" aria-describedby="questionHelper" placeholder="Pergunta">
  <small id="questionHelper" class="form-text text-muted">Escreva uma questão para o flashcard</small>
</div>
<div class="form-group">
  <label for="flashcardAnswer">Resposta</label>
  <input type="text" class="form-control" [(ngModel)]="answer" #ctrl="ngModel" id="flashcardAnswerId" aria-describedby="answerHelper" placeholder="Resposta">
  <small id="answerHelper" class="form-text text-muted">Defina a resposta para esta questão</small>
</div>

<button (click)="addFlashcard()" class="btn btn-lg flashcard-form-button">Adicionar flashcard</button>
