/* You can add global styles to this file, and also import other style files */

body{
    background-color: #FFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 56px;
    margin: 0 auto;
}

.page-size{
    width: 100%;
    height: 100%;
    position: absolute;
}

.auth-button{
    margin-right: 2em;
    background-color: #72E873;  
    color: black;
}
.auth-button:hover{
    background-color: #61cc63;  
    color: black;
}

.auth-button-outline{
    border-color: #72E873;
    color: black;
}

.auth-button-outline:hover{
    background-color: #72E873;
    color: white;
}